<h1>Posts Index!</h1>

<% posts.forEach(function(post){ %>

<div>
  <h1>Post Title: <%= post.title %></h1>
  <div>Price: <%= post.price %></div>
  <div>Description: <%= post.description %></div>
  <div>Location: <%= post.location %></div>
  <!--for redirecting to route /posts/:id -->
  <div><a href="/posts/<%= post.id %>">View more...</a></div>
</div>

<% }) %>
